:root {
    --color-primary: #85200c;
    --color-secondary: #ea9999;
    --bg-white: #fffffe;
    --bg-light: #f9f2f2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* library */
@import url("../node_modules/hamburgers/dist/hamburgers.min.css");

body {
    @apply text-base bg-bgWhite;
}

main {
    min-height: calc(100vh - 44px);
    padding-top: 70px;
}