:root {
    --color-primary: #85200c;
    --color-secondary: #ea9999;
    --color-tertiary: #f4cccc;
    --color-white: #fffffe;
    --color-black: #000001;
    --color-light: #f9f2f2;
}

/* variables */
$NavMobileWidth: 200px;

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* libraries */
@import url('../node_modules/hamburgers/dist/hamburgers.min.css');
.hamburger {
    @apply h-6 p-0;
    &.is-active .hamburger-inner, .hamburger-inner {
        &, &::after, &::before {
            @apply bg-primary;
        }
    }
}

.swiper-slide {
    @apply pb-10;
}
.swiper-pagination {
    bottom: 0 !important;
    .swiper-pagination-bullet-active {
        @apply bg-primary;
    }
}

/* default */
html.no-scroll {
    @apply overflow-hidden h-0;
}

body {
    @apply bg-white text-base;
    &, a {
        @apply text-black;
    }
}

h1 {
    font-family: 'Pacifico', cursive;
}
h2, .h2 {
    @apply text-2xl font-semibold tracking-wider;
}

main {
    @apply bg-white pt-18;
    min-height: calc(100vh - 44px);
}
main, footer {
    @apply relative z-10;
}

header, main, footer {
    transition: transform .25s ease-in-out;
}

.content {
    @apply max-w-5xl px-5 py-16 mx-auto;
}

.nav-mobile-show {
    header, main, footer {
        transform: translateX(-#{$NavMobileWidth});
    }
    main::after {
        content: "";
        @apply z-1 absolute top-0 left-0 w-full h-full bg-white opacity-75;
    }
    .nav-mobile {
        @apply block;
    }
}
.nav-mobile {
    width: $NavMobileWidth;
    box-shadow: inset 8px 0 10px -8px rgba(0, 0, 0, 0.5);
    a {
        @apply block border-2 border-transparent text-white px-3 py-2 mb-2;
        &.nav-active {
            @apply border-white bg-secondary text-black;
        }
    }
}
.nav-desktop {
    a {
        @apply inline-block border-2 border-transparent rounded-xl px-3 py-1 mr-1;
        &.nav-active {
            @apply border-secondary bg-tertiary;
        }
    }
}